<ol>
  <% @all.each do |number| %>
    <li>
      <ul>
        <li> Число: <%= number.factorial %></li>
        <li>Первый множитель:<%= number.first %></li>
        <li>Второй множитель: <%= number.second %></li>
        <li>Третий множитель: <%= number.third %></li>
        <li>Подходит: <%= number.find %></li>
      </ul>
    </li>
  <% end %> </ol>
<form action="<%= fac_input_url %>" method="get" class="text-center border border-light p-5">
  <div class = 'row'>
    <input class="btn btn-outline-primary btn-block my-4" type="submit" value="Ввести новое число"> </div>
</form>